<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PRJ321x_Project_2_FX10207</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>duongdt@fpt.com.vn</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>123</param-value>
  </context-param>
  <session-config>
    <session-timeout>5000</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.product.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>controller.product.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>controller.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/InformationProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>controller.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/SearchController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>controller.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>